:root {
  --accent-color: #ff889c;
  --gray-color: #f9f9f9;
}

body {
  background: url(./img/bg.png) right top no-repeat;
}

.container {
  margin-left: 100px;
}

.button {
  background: #fff;
  border: 1px solid #707070;
  border-radius: 10px;
  padding-block: 10px;
  padding-inline: 50px;
  font-weight: bold;
}

.button.primary {
  background: var(--accent-color);
  color: #fff;
  border: 0;
  padding-inline: 30px;
  border-radius: 7px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

h2 {
  color: #5d676e;
}

input {
  background: var(--gray-color);
  border: 0;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 20px;
  width: 400px;
}
